body {

    background-color: lightblue;
}

div {

    background-color: lightgreen;
    width: 900px;
    height: 100px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.delete {
    height: 30px;
    width: 80px;
}

.select {
    text-decoration: line-through;
    background-color: yellow;
}

.else {
    text-decoration: none;
    background-color: rgb(83, 83, 83);
    }